/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* css reset */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *\
## custom css
\* *** *** *** *** *** *** *** *** *** *** *** *** *** */
.honda-main-bg {
  background: #264653;
}
.hero {
  min-height: 100vh;
}

.honda-black-bg {
  background: #0b0d17;
}

.font-weight-300 {
  font-weight: 300;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}

.honda-primary-color {
  color: #e76f51;
}
.honda-rating-color {
  color: #e77c40;
}

.honda-sub-heading {
  color: #e76f51;
  font-size: 14px;
  position: relative;
  display: inline-block;
}
.honda-sub-heading::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 25%;
  height: 2px;
  width: 50%;
  background: #e76f51;
}

.honda-btn {
  background: #e76f51;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem 1rem;
}

.hero button {
  max-width: 11rem;
  max-height: 3rem;
}

.honda-img-gray-scale img {
  filter: grayscale(100%);
}
